@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');

body {
    background:linear-gradient(to left, #ead6ee, #a0f1ea); 
    background-attachment: fixed;
    color: #fff;
    margin:0; 
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 1rem;
}

.conteudo {
    margin: 0 auto;
    width: 100%;;
    max-width: 450px;
    margin-top: 100px;
    margin-bottom: 50px;
    background-color: rgba(255, 255, 255, 0.5); 
    padding: 55px;
    backdrop-filter: blur(2px); 
    box-shadow: 10px 10px 10px 10px rgba(0.1,0.1,0.1,0.1); 
    border-radius: 12px;
}

.topo {
   display: flex;
   justify-content: space-between;
   margin-bottom: 35px;     
}

.topo input {
    width: 350px;
    padding: 15px;
    border-radius: 12px;
    border: 1px solid #000;
    outline: none;
    font-size: 1.2rem;
    background: #000;
    color: #fff;
}

.topo button {
    width: 45px;
    border-radius: 12px;
    border: 1px solid #000;
    background: #000;
    color: #FFF;
    outline: none;
}

.topo button:hover {
    background: #1f1e1e;
    cursor: pointer;
}

#listaTarefas {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

#listaTarefas li {
    padding: 20px;
    background: #000;
    border-radius: 12px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}

.btnAcao {
    border-radius: 20px;
    border: 1px solid #000;
    width: 38px;
    height: 38px;
    margin-right: 8px;
    cursor: pointer;
    background: #000;
    color: #fff;
    outline: none;
}

.btnAcao:hover {
    background: #3c3a3a;;
}

.textoTarefa {
    overflow: hidden;
    text-overflow: ellipsis;
    width: 290px;
    white-space: nowrap;
}

#janelaEdicao {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    background: #fff;
    border: 1px solid #000;
    width: 415px;
    border-radius: 12px;
    z-index: 200;
    display: none;
}

#janelaEdicao.abrir {
    display: block !important;
}

#janelaEdicaoFundo {
    position: fixed;
    top: 0;
    background-color: #000;
    bottom: 0;
    left: 0;
    opacity: 0.9;
    z-index: 100;
    right: 0;
    display: none;
}

#janelaEdicaoFundo.abrir {
   display: block !important;    
}

#janelaEdicaoBtnFechar {
    position: absolute;
    top: -25px;
    right: -18px; 
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 1px solid #fff;
    background:linear-gradient(to left, #ead6ee, #a0f1ea);
    color: #000;
    outline: none;
}

form {
    width: 100%;
    margin-top: 20px;
}

.frm-linha {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.frm-linha label {
    margin-bottom: 7px;
    color: #000;
}

.frm-linha input {
    padding: 15px;
    border-radius: 12px;
    outline: none;
    border: 1px solid #191818;
    font-size: 1.2rem;
    background: #000;
    color: #fff;
}

.frm-linha button {
    background:linear-gradient(to left, #ead6ee, #a0f1ea); 
    border: 1px solid #000;
    padding: 7px;
    margin-bottom: 10px;
    border-radius: 25px;
    margin-left: 128px;
    color: #000;
    cursor: pointer;
    height: 40px;
    width: 150px;
    font-size: 15px;
    font-family: 'Roboto Condensed', sans-serif;
    outline: none;
}

#idTarefaEdicao {
	color: #000;
}